integration:
  accessmapper:
    url: https//accessmapper.url
  emailreader:
    url: http://emailreader.url
    municipality-id: 1234
    namespace: namespace
    errand-closed-email-template: |
      Ditt ärende är nu stängt på grund av saknad återkoppling. Vänligen återkom per telefon eller via e-post för att skapa nytt ärende.
      Detta e-postmeddelande går ej att svara på.
    errand-closed-email-sender: noreply@sundsvall.se
  employee:
    url: http://employee.url
  eventlog:
    url: http://eventlog.url
  messaging:
    url: http://messaging.url
  messageexchange:
    url: http://messageexchange.url
  messaging-settings:
    url: http://messaging-settings.url
  notes:
    url: http://notes.url
  web-message-collector:
    url: http://web-message-collector.url
  citizen:
    url: http://citizen.url
  relation:
    url: http://relation.url
  json-schema:
    url: http://json-schema.url
spring:
  cache:
    type: none
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6:///junittest
  jpa:
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          schema-generation:
            script:
              append: false
      jakarta:
        persistence:
          schema-generation:
            create-source: metadata
            database:
              action: update
            scripts:
              action: create
              create-target: target/database/generated-schema.sql
  security:
    oauth2:
      client:
        provider:
          accessmapper:
            token-uri: http://token.url
          emailreader:
            token-uri: http://token.url
          employee:
            token-uri: http://token.url
          eventlog:
            token-uri: http://token.url
          messaging:
            token-uri: http://token.url
          messageexchange:
            token-uri: http://token.url
          messaging-settings:
            token-uri: http://token.url
          notes:
            token-uri: http://token.url
          web-message-collector:
            token-uri: http://token.url
          citizen:
            token-uri: http://token.url
          relation:
            token-uri: http://token.url
          json-schema:
            token-uri: http://token.url
        registration:
          accessmapper:
            client-id: the-client-id
            client-secret: the-client-secret
          emailreader:
            client-id: the-client-id
            client-secret: the-client-secret
          employee:
            client-id: the-client-id
            client-secret: the-client
          eventlog:
            client-id: the-client-id
            client-secret: the-client-secret
          messaging:
            client-id: the-client-id
            client-secret: the-client-secret
          messageexchange:
            client-id: the-client-id
            client-secret: the-client-secret
          messaging-settings:
            client-id: the-client-id
            client-secret: the-client
          notes:
            client-id: the-client-id
            client-secret: the-client-secret
          web-message-collector:
            client-id: the-client-id
            client-secret: the-client-secret
          citizen:
            client-id: the-client-id
            client-secret: the-client-secret
          relation:
            client-id: the-client-id
            client-secret: the-client-secret
          json-schema:
            client-id: the-client-id
            client-secret: the-client-secret
scheduler:
  messageexchange:
    enabled: false
